<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <title>Edit User</title>
</head>
<body>
    <div th:replace="header"></div>
    <h3>Edit chosen user</h3>
    <form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="firstName">First name: </label>
        <input type="text" th:field="*{firstName}" id="firstName">
        <br>
        <label for="lastName">Last name: </label>
        <input type="text" th:field="*{lastName}" id="lastName">
        <br>
        <label for="phoneNumber">Phone number: </label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
        <br>
        <label for="login">Login: </label>
        <input type="text" th:field="*{login}" id="login">
        <br>
        <label for="password">Password: </label>
        <input type="text" th:field="*{password}" id="password">
        <br>
        <label for="roles">Role(s): </label>
<!--        <select th:field="*{roles}" id="roles" size="2" multiple>-->
<!--            <option th:value="1" th:text="ADMIN"></option>-->
<!--            <option th:value="2" th:text="USER"></option>-->
<!--        </select>-->
        <select th:field="*{roles}" id="roles" multiple>
            <option th:each="role: ${roleList}"
                    th:value="${role.getId()}"
                    th:text="${role.toString()}"></option>
        </select>
        <br>
        <br>
        <input type="submit" value="Update user">
    </form>
    <form th:method="GET" th:action="@{/admin/users}">
        <input type="submit" value="Cancel">
    </form>
    <div th:replace="footer"></div>
</body>
</html>