<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User home page</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <div th:replace="header"></div>
        <h1 th:text="${user.getFirstName()}"></h1> <br>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Login</th>
            </tr>
            <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getPhoneNumber()}"></td>
                <td th:text="${user.getLogin()}"></td>
            </tr>
        </table>
    <div th:replace="footer"></div>
</body>
</html>