<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AllUsers</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <div th:replace="header"></div>
    <h1>Users table</h1> <br>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Login</th>
                <th>Role(s)</th>
                <th></th>
                <th></th>
            </tr>
            <th:block th:each="user : ${userList}">
                <tr>
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getPhoneNumber()}"></td>
                    <td th:text="${user.getLogin()}"></td>
                    <td th:text="${user.getRoles()}"></td>
                    <td>
                        <form th:method="GET" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
        <br>
        <form th:method="GET" th:action="@{/admin/users/new}">
            <input type="submit" value="Add new user">
        </form>
    <div th:replace="footer"></div>
</body>
</html>