<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Admin</title>
</head>
<body>

<!--    HEADER    -->
<div class="container-fluid px-0">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">
            <b>[[${user.getEmail()}]]</b> [['  with roles:  ' + ${user.getRoles()}]]
        </span>
        <ul class="navbar-nav mr-0">
            <li class="nav-item">
                <a class="nav-link" th:method="GET" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>
</div>

<!--    MIDDLE    -->
<div class="container-fluid px-0 vh-100">
    <div class="row vh-100 mx-0">

        <!--    SIDEBAR (navigation pills)   -->
        <div class="col-2 px-0 pt-3 m-0">
            <ul class="nav flex-column nav-pills" id="page-nav" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="admin-panel" data-toggle="tab" href="#adminPanel" role="tab"
                           aria-controls="admin-panel" aria-selected="true">
                            Admin
                        </a>
                    </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="user-page" data-toggle="tab" href="#userPage" role="tab"
                       aria-controls="user-page" aria-selected="false">
                        User
                    </a>
                </li>
            </ul>
        </div>

        <!--    MAIN CONTENT   -->
        <div class="col-10 px-5 pt-3 m-0 bg-light">
            <div class="tab-content">

                <!--    ADMIN PAGE    -->
                <div class="tab-pane fade show active" id="adminPanel" role="tabpanel" aria-labelledby="admin-panel">
                    <h1>Admin panel </h1>

                    <!-- Admin panel navigation tabs -->
                    <ul class="nav nav-tabs" id="admin-nav" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="users-table" data-toggle="tab" href="#table" role="tab"
                               aria-controls="users-table" aria-selected="true">
                                Users table
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="new-user" data-toggle="tab" href="#new" role="tab"
                               aria-controls="new-user" aria-selected="false">
                                New user
                            </a>
                        </li>
                    </ul>

                    <!-- Admin panel navigable content -->
                    <div class="tab-content">

                        <!-- Users list (main table & modals) -->
                        <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="users-table">
                            <div class="card">
                                <div class="card-header">
                                    <h5>All users</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped bg-white w-100">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Email</th>
                                            <th>Role(s)</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <th:block th:each="userFromList: ${userList}">
                                            <tr>
                                                <td class="text-wrap" th:text="${userFromList.getId()}"></td>
                                                <td class="text-wrap" th:text="${userFromList.getFirstName()}"></td>
                                                <td class="text-wrap" th:text="${userFromList.getLastName()}"></td>
                                                <td class="text-wrap" th:text="${userFromList.getEmail()}"></td>
                                                <td class="text-wrap" th:text="${userFromList.getRoles()}"></td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-info"
                                                            data-toggle="modal"
                                                            th:data-target="'#modalEdit' + ${userFromList.getId()}">
                                                        Edit
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-danger"
                                                            data-toggle="modal"
                                                            th:data-target="'#modalDelete' + ${userFromList.getId()}">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>

                                            <!-- modalEditUser -->
                                            <div class="modal fade" th:id="'modalEdit' + ${userFromList.getId()}"
                                                 tabindex="-1"
                                                 aria-labelledby="modalDeleteTitle" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                th:id="'modalEdit' + ${userFromList.getId()}">
                                                                Edit user</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="row justify-content-center">
                                                            <div class="modal-body text-center col-6">
                                                                <form role="form" th:method="PATCH"
                                                                      th:id="'editForm' + ${userFromList.getId()}"
                                                                      th:action="@{/admin/users/{id}(id=${userFromList.getId()})}"
                                                                      th:object="${userFromList}">
                                                                    <b>
                                                                        <div class="form-group">
                                                                            <label for="onEditId">ID</label>
                                                                            <input type="text" class="form-control"
                                                                                   th:value="${userFromList.getId()}"
                                                                                   id="onEditId" name="id"
                                                                                   disabled="true">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="onEditFirstName">First
                                                                                name</label>
                                                                            <input type="text" class="form-control"
                                                                                   th:value="${userFromList.getFirstName()}"
                                                                                   id="onEditFirstName"
                                                                                   name="firstName">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="onEditLastName">Last
                                                                                name</label>
                                                                            <input type="text" class="form-control"
                                                                                   th:value="${userFromList.getLastName()}"
                                                                                   id="onEditLastName" name="lastName">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="onEditEmail">Email</label>
                                                                            <input type="email" class="form-control"
                                                                                   th:value="${userFromList.getEmail()}"
                                                                                   id="onEditEmail" name="email">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="onEditPassword">Password</label>
                                                                            <input type="password" class="form-control"
                                                                                   id="onEditPassword" name="password">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="onEditRoles">Role(s)</label>
                                                                            <select class="custom-select"
                                                                                    th:value="${userFromList.getRoles()}"
                                                                                    id="onEditRoles" size="2"
                                                                                    name="roles" multiple>
                                                                                <option th:each="role: ${roleList}"
                                                                                        th:value="${role.getId()}"
                                                                                        th:text="${role.toString()}"></option>
                                                                            </select>
                                                                        </div>
                                                                    </b>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    th:form="'editForm' + ${userFromList.getId()}">
                                                                Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- modalDeleteUser -->
                                            <div class="modal fade" th:id="'modalDelete' + ${userFromList.getId()}"
                                                 tabindex="-1"
                                                 aria-labelledby="modalDeleteTitle" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                th:id="'modalDelete' + ${userFromList.getId()}">
                                                                Delete user</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="row justify-content-center">
                                                            <div class="modal-body text-center col-6">
                                                                <b>
                                                                    <div class="form-group">
                                                                        <label for="onDeleteId">ID</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${userFromList.getId()}"
                                                                               id="onDeleteId" disabled="true">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="onDeleteFirstName">First
                                                                            name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${userFromList.getFirstName()}"
                                                                               id="onDeleteFirstName" disabled="true">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="onDeleteLastName">Last name</label>
                                                                        <input type="text" class="form-control"
                                                                               th:value="${userFromList.getLastName()}"
                                                                               id="onDeleteLastName" disabled="true">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="onDeleteEmail">Email</label>
                                                                        <input type="email" class="form-control"
                                                                               th:value="${userFromList.getEmail()}"
                                                                               id="onDeleteEmail" disabled="true">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="onDeleteRoles">Role(s)</label>
                                                                        <select class="custom-select"
                                                                                id="onDeleteRoles" size="2"
                                                                                disabled="true">
                                                                            <option th:each="role: ${userFromList.getRoles()}"
                                                                                    th:value="${role.getId()}"
                                                                                    th:text="${role.toString()}"></option>
                                                                        </select>
                                                                    </div>
                                                                </b>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <form role="form" th:method="DELETE"
                                                                  th:action="@{/admin/users/{id}(id=${userFromList.getId()})}">
                                                                <input type="submit" class="btn btn-danger"
                                                                       value="Delete">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Add new user page -->
                        <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-user">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add new user</h5>
                                </div>
                                <div class="card-body text-center">
                                    <form class="container col-3" role="form" th:method="POST"
                                          th:action="@{/admin/users}"
                                          th:object="${newUser}">
                                        <b>
                                            <div class="form-group">
                                                <label for="firstName">First name</label>
                                                <input type="text" class="form-control" th:field="*{firstName}"
                                                       id="firstName">
                                            </div>

                                            <div class="form-group">
                                                <label for="lastName">Last name</label>
                                                <input type="text" class="form-control" th:field="*{lastName}"
                                                       id="lastName">
                                            </div>

                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" th:field="*{email}" id="email">
                                            </div>

                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" th:field="*{password}"
                                                       id="password">
                                            </div>

                                            <div class="form-group">
                                                <label for="roles">Role(s)</label>
                                                <select th:field="*{roles}" class="custom-select" id="roles" multiple>
                                                    <option th:each="role: ${roleList}"
                                                            th:value="${role.getId()}"
                                                            th:text="${role.toString()}"></option>
                                                </select>
                                            </div>

                                            <input type="submit" class="btn btn-success" value="Add new user">
                                        </b>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--    ACTUAL USER PAGE    -->
                <div class="tab-pane fade" id="userPage" role="tabpanel" aria-labelledby="user-page">
                    <div>
                        <h1>User information-page</h1>
                        <div class="card">
                            <div class="card-header">
                                <h5>About user</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped bg-white w-100">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Email</th>
                                        <th>Role(s)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-wrap" th:text="${user.getId()}"></td>
                                        <td class="text-wrap" th:text="${user.getFirstName()}"></td>
                                        <td class="text-wrap" th:text="${user.getLastName()}"></td>
                                        <td class="text-wrap" th:text="${user.getEmail()}"></td>
                                        <td class="text-wrap" th:text="${user.getRoles()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>